.dark__theme {
  color: #ececec;
  background-color: #2f2f2f;
  width: 100vw;
  height: 100vh;
}

.light__theme {
  background-color: whitesmoke;
  color: #2f2f2f;
  width: 100vw;
  height: 100vh;
}

.App__layout {
  display: flex;
  flex-direction: row;
}

.App__layout--responsive {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;

  flex-direction: column;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.App__addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 99999;
}
.App__form {
  width: 50%;
  height: 700px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding: 10px;
  padding-top: 40px;

  background-color: rgb(17, 10, 36);
}

.App__form h3 {
  color: inherit;
  font-size: 19px;
  margin-left: 23px;
  margin-bottom: 20px;
  font-weight: 700;
}

.App__form label {
  color: white;
  font-size: 15px;
  margin-top: 30px;
  font-weight: 600;
  margin-left: 23px;
}
.App__form input {
  outline: none;
  background: none;
  margin-left: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 14px;
  border: 0.2px solid rgb(95, 42, 95);
  color: inherit;
  padding-top: 10px;
  border-radius: 14px;
  padding-bottom: 10px;
}

.App__addTaskInput.description {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: top;
}

.Add__addSubTaskCard {
  display: flex;
  align-items: left;
  width: 100%;
}
.Add__addSubTaskCard input {
  height: 20px;
  width: 70%;
}
.Add__addSubTaskCard svg {
  position: relative;
  top: 30px;
  margin-left: 25px;
  transform: scale(3, 3);
  transform: rotate(45deg);
}
.Add__button {
  margin-left: 24px;
  padding: 6px;
  color: rgb(95, 42, 95);
  font-weight: 700;
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.Add__close {
  border-radius: 25px;
  width: 300px;
  margin-top: 4px;
  background-color: #2f2f2f;
  color: white;
  border: none;
  margin-bottom: 12px;
  height: 40px;
  font-weight: 700;
}

.add__tasks__dropdown {
  border: none;
  padding: 5px;
  margin-left: 24px;
  margin-top: 12px;
  border-radius: 12px;
  width: 220px;
  color: white;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.356);
}

.add__tasks__dropdown option {
  color: black;
}
